.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $secondary-bg-color;
}

.footer-sections {
  display: flex;
}

.footer .logo.link {
  color: #ffffff;
}

// Footer adress
.footer-address {
  margin-top: 20px;
  font-style: normal;
}

.footer-item .footer-link {
  display: block;
}

.footer-item:not(:last-child) {
  margin-bottom: 10px;
}

.footer-link.address {
  color: #ffffff;
}

.footer-link {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link.link:hover,
.footer-link.link:focus {
  color: $accent-color;
}

// Footer subscribe

.subscribe {
  display: flex;
  flex-direction: column;
  margin-left: 70px;
}

.subscribe-text {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: $main-bg-color;
}

.subscribe .social-list {
  margin-top: 20px;
}

.subscribe .social-link {
  background-color: rgba(255, 255, 255, 0.1);
}

.subscribe .social-icon {
  fill: $main-bg-color;
}

.subscribe .social-link:hover,
.subscribe .social-link:focus {
  background-color: $accent-color;
}

// Footer mailing

.mailing {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

.mail-form {
  display: flex;
  margin-top: 20px;
}

.mailing-input {
  padding: 14px 15px;
  width: 358px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;

  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.mailing .mailing-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.mailing-button {
  position: relative;
  margin: 0;
  margin-left: 12px;
  min-width: 200px;
  padding: 10px;
  padding-left: 29px;
  text-align: left;
}

.mailing-icon {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 50%;
  right: 28px;
  transform: translateY(-50%);

  fill: #ffffff;
}
